[user]
	email = edward@zonedev.be
	name = EdwardKerckhof
	signingkey = C2CFEE9553A3167E
[core]
	editor = nvim
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = cache
